/*general section*/
.body {
    margin: 0;
    padding: 0;
}

/* main picture section*/

.main-container {
    margin: 0;
    padding: 0;
}

.carousel-item {
    height: 50vh;
}

/*main picture section*/


/*dropdown section*/

#destination {
    height: 80px;
    font-size: 50px;

}

#autocomplete{
    height: 50px;
    width: 500px;
    font-size: xx-large;
}

.dropdown-row{
    height: 300px;
}

/*dropdown section*/

/*map section*/

#map {
    height: 500px;
    width: 900px;
    padding: 0;
}

.map{
    border-color: #0a6ebd;
    border-width: thick;
}

#country{
    height: 50px;
    width: 300px;
    font-size: large;
    margin-top: 15px;
    text-transform: lowercase;
}


/*map section*/

/*button section*/
.button-container{
    margin-top: 10px;
}

.fas{
    padding-right: 5px;
}

.search-btn{
    height: 100px;
    width: 300px;
    font-size: x-large;
    text-transform: lowercase;
    border:none;

}
/* button section*/


/*booking section*/

.book-now-container{
    height: 300px;
    margin-top: 20px;
    color: white;
}

.booking{
    margin-top: 100px;
}

.book-btn{
    margin-top: 10px;
    text-transform: lowercase;
}

