/*---------------general section-------------------*/

html{
    scroll-behavior: smooth;
}
body {
    overflow-x: hidden;
}

/*---------------main picture section---------------*/

.carousel-item {
    height: 75vh;
}


.main-container {
    margin: 0;
    padding: 0;
}


.main-text {
    position: absolute;
    top: 100px;
    width: 96.66666666666666%;
    color: white;
    padding-top: 50px;
}

.title-heading {
    font-size: 50px;
}

.title-sub {
    color: black;
}


.btn-min-block {
    min-width: 170px;
    line-height: 26px;
}

.btn-clear {
    color: black;
    background-color: white;
    border-color: #FFF;
    margin-right: 15px;
}

.btn-clear:hover {
    color: #000;
    background-color: #FFF;
}


/*---------------main picture section-------------*/


/*----------------dropdown section--------------*/

.drop-section {
    background-color: #0a6ebd;
}

#destination {
    height: 80px;
    font-size: 50px;
    color: white;

}

#autocomplete {
    height: 50px;
    width: 500px;
    font-size: xx-large;
}

.dropdown-row {
    height: 300px;
}

#country {
    height: 50px;
    width: 300px;
    font-size: large;
    margin-top: 15px;
    text-transform: lowercase;
    background-color: white;
}

/*---------------dropdown section-----------------*/


/*-----------------map section-------------------*/

.map-section {
    background-color: #0a6ebd;
}

#map {
    height: 500px;
    width: 900px;
    padding: 0;
}


/*------------------map section----------------*/


/*-----------------button section--------------*/

/*button section*/
.button-section {
    background-color: #0a6ebd;
}

.button-container {
    padding-top: 20px;
    padding-bottom: 20px;
}

.fas {
    padding-right: 5px;
}

.search-btn {
    height: 100px;
    width: 300px;
    font-size: x-large;
    text-transform: lowercase;
    border: none;

}

/*--------------------button section-----------------*/


/*---------------------booking section----------------*/


.book-now-container {
    height: 300px;
    padding-top: 20px;
    color: white;
    background-color: #0a6ebd;
}

.booking {
    margin-top: 80px;
}

.book-btn {
    padding-top: 10px;
    text-transform: lowercase;
}

/*------------------booking section--------------*/


/*------------------contact us section-------------*/
.contact-container {
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: white;
}

.form-control {
    color: black;
}

.enquiry-btn {
    margin-top: 5px;
    text-transform: lowercase;
}

/*------------contact us section----------*/


/*----------------------footer---------------------*/
.footer-container {
    height: 120px;
    background-color: #0a6ebd;
    color: white;
}

.fab {
    margin: 20px;
    font-size: x-large;
}

/*---------------------footer------------------------*/


/*----------------media breaks------------------*/

@media (min-width: 1440px) {
    .carousel-item {
        height: 60vh;
    }
}


@media (max-width: 1024px) {
    .carousel-item {
        height: 40vh;
    }

}


@media (max-width: 768px) {


    .destination-title {
        font-size: 30px;
    }

    .search-btn {
        height: 100px;
        width: 200px;
        font-size: large;
        text-transform: lowercase;
        border: none;
    }


    .footer-container {
        height: 150px;
    }
}


@media (max-width: 411px) {
    .main-text {
        display: none;
    }

    #map {
        height: 300px;
    }

    .search-btn {
        margin-top: 20px;
        width: 100px;
        height: 100px;
        font-size: small;

    }

    .booking {
        margin-top: 20px;
    }

    .carousel-item {
        height: 25vh;
    }


    #autocomplete {
        width: 200px;
        font-size: medium;
    }

    .destination-title {
        font-size: 25px;
    }
}

/*--------------- media breaks-----------------*/

